/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*Form style*/

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#dl input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
form{
    border:1px solid #3F3B3B;
    width:50%;
    background-color: #f2f2f2;
    margin:0 auto;
    padding: 30px;
}
h3{
    text-align: center;
}
h4{
    margin-left: 140px;
    padding: 5px;
    color:#ab7a0f;
}
div .k{
    border-radius: 5px;
    padding: 20px;
}

/*Table Style*/
table {
    border-collapse: collapse;
    width: 80%;
    margin:0 auto;
    padding: 30px; 
}

table, th, td {
    text-align: center;
    padding: 8px;
    border:1px solid gainsboro;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
/*a:link, a:visited {
  margin:0 auto;
  display: block;
  width: 60px;  
  padding: 2px;
  line-height: 1.4;
  background-color: #94B8E9;
  border: 1px solid black;
  color: #000;
  text-decoration: none;
  text-align: center;
}

a:hover {
 background-color: #369;
 color: #fff;
}*/
a,u{
    text-decoration: none;
}